@media screen and (min-width: 500px){
    .main-block {
        float: left;
        width: 90%;
        margin-top: 8%;
        margin-left: 8%;
    }
    
    .block-product-open-block-images-main {
        width: 26%;
        height: 35%;
        background: #FFFCFC;
    }
    .block-product-open-block-images-image_main {
        width: 26%;
        height: 26%;
        background: #FF0909;
    }
    .block-product-images-image-main img{
        width: 80%;
        height: 65%;
    }
    .block-product-image-main {
        float: left;
        position: fixed;
        width: 26%;
        height: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
    
    .block-product-texts {
        float: left;
        margin-left: 31%;
        margin-top: 0px;
        border-radius: 10px;
        width: 41%;
        background-color: #fff;
    }
    
    .block-product-name-text {
        width: 96%;
        margin-top: 1%;
        margin-left: 1%;
        text-align: justify;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5vw;
        line-height: 1.5vw;
    
        color: #000000;
    }
    .characteristics {
        font-family: 'Roboto';
        font-size: 1.5vw;
        margin-left: 4%;
        font-weight: 600;
    }
    .characteristics-texts {
        font-family: 'Roboto';
        font-size: 1vw;
        margin-top: 1%;
        margin-left: 4%;
        font-weight: 400;
    }
}
@media screen and (max-width: 460px){
    .main-block {
        float: left;
        width: 88%;
        margin-top: 15%;
        margin-left: 10%;
    }
    
    .block-product-open-block-images-main {
        width: 90%;
        height: 90%;
        background: #FFFCFC;
    }
    .block-product-open-block-images-image_main {
        width: 90%;
        height: 90%;
        background: #FF0909;
    }
    .block-product-images-image-main img{
        width: 80%;
        height: 65%;
    }
    .block-product-image-main {
        float: left;
        margin-left: 6%;
        width: 90%;
        height: 30%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
    
    .block-product-texts {
        float: left;
        margin-left: 6%;
        margin-top: 2%;
        border-radius: 10px;
        width: 90%;
        background-color: #fff;
    }
    
    .block-product-name-text {
        width: 96%;
        margin-top: 1%;
        margin-left: 1%;
        text-align: justify;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 5vw;
        line-height: 5vw;
    
        color: #000000;
    }
    .characteristics {
        font-family: 'Roboto';
        font-size: 4.5vw;
        margin-left: 4%;
        font-weight: 600;
    }
    .characteristics-texts {
        font-family: 'Roboto';
        font-size: 3vw;
        margin-top: 1%;
        margin-left: 4%;
        font-weight: 400;
    }
}