{% extends 'base.html' %}
{% block title %}Моя заказы{% endblock %}
{% load static %}
{% load thumbnail %}
{% block content %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
<link rel="stylesheet" href="{% static 'product/css/new_order.css' %}">
<link rel="stylesheet" href="{% static 'product/css/page_orders.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js"></script>

<div class="main-block" id="main-block">
    <div class="block-titles">
        <div class="titles">Статус заказа</div>
        <div class="titles">Товар</div>
        <div class="titles">Цена заказа</div>
    </div>
    {% for order in orders %}
    <div class="block-order">
        <div class="titles status">
            <svg class="progress-ring">
                <circle class="progress-ring__circle2" cx="110" cy="110" r="60"></circle>
                <circle value="{{order.status.percent}}" id="{{order.id}}" class="progress-ring__circle" cx="110" cy="110" r="60"></circle>
            </svg>
            <p>{{order.status.name}}</p>
        </div>
        <div class="titles name">
            <a class="link-product" href="{% url 'product' order.product.id %}"><div class="inf-order-block-img iob">
                {% thumbnail order.product.image_title "2100x1500" crop="center" upscale=True as im %}
                <img class="" src="{{ im.url }}">
                {% endthumbnail %}
            </div>
            <p class="block-product-name">{{order.product.name | truncatechars:80}}<p class="block-product-name"></p></a>
        </div>
        <div class="titles price"><p class="order-price">{{order.price}} ₽</p><p>(За {{order.amount}} ед.)</p></div>
    </div>
    {% endfor %}
</div>

<script>
        let circle = document.querySelectorAll('.progress-ring__circle');
        const radius = 60;
        const circumference = 2 * 3.14 * radius;
        for(let circle_item of circle) {
            let percent = circle_item.getAttribute('value'); 
            const offset = circumference - percent / 100 * circumference;
            if(percent == 10){
                circle_item.style.stroke = 'rgb(225, 112, 20)';
            }
            else if(percent == 25){
                circle_item.style.stroke = 'rgb(240, 207, 21)';
            }
            else if(percent == 50){
                circle_item.style.stroke = 'rgb(178, 245, 8)';
            }
            else if(percent == 80){
                circle_item.style.stroke = 'rgb(156, 212, 13)';
            }
            else if(percent == 100){
                circle_item.style.stroke = 'rgb(4, 196, 7)';
            }
            circle_item.style.strokeDasharray = circumference, circumference;
            circle_item.style.strokeDashoffset = circumference;
            circle_item.style.strokeDashoffset = offset;
        }
</script>
{% endblock %}