{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'product/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
<link rel="stylesheet" href="{% static 'product/css/new_order.css' %}">
<div class="page-profile" id="main-block">
    <div class="block-client-inf">
        <div class="block-client-inf-img">
        </div>
        <div class="profile-username"><p class="">{{profile.username}}</p></div>
        <div class="block-client-inf-data">Личные данные</div>
    </div>
    <div class="block-profile-inf">
        <div class="block-profile-inf-first">
            <div class="block-profile-inf-first-str">
                <p class="text-disc-1">Ваша скидка:</p>
                <p class="text-disc-2">17%</p>
            </div>
            <div class="block-profile-inf-first-str">
                <p class="text-disc-1">Всего заказов:</p>
                <p class="text-disc-2">35</p>
            </div>
            <div class="block-profile-inf-first-str">
                <p class="text-disc-1">Потрачено:</p>
                <p class="text-disc-2">13000</p>
            </div>
        </div>
        <div class="block-profile-inf-my_cards">
            <p class="block-profile-inf-my_cards-text">Мои карты</p>
            <div class="my_cards">
                <div class="my_cards-block-card"><img class="img-card" src="{% static 'product/images/карта тинь.jpg' %}"></div>
                <div class="my_cards-block-card"></div>
                <div class="my_cards-block-card"></div>
                <div class="my_cards-block-card"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}