{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}
{% load static %}
{% load thumbnail %}
{% block content %}
<link rel="stylesheet" href="{% static 'product/css/main_page.css' %}">
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
<div class="block-subcategories" id="main-block">
    {% for sub in subcategories %}
    <div class="block-category">
        <div class="block-category-img">
            {% thumbnail sub.image "1300x1000" crop="center" upscale=True as im %}
            <img class="block-category-image" src="{{ im.url }}">
            {% endthumbnail %}
            <p>{{sub.name}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}