body {
    background: #2c2c2c;
}
main .features {
    float: right;
    color: #fff;
    margin-top: 100px;
    margin-right: 250px;
    text-align: center;
    width: 50%;
}
.footer-post {float: right;}
main .features h3 {font-size: 50;}
main .features p {margin: 20px;}

.alert-warning {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
    transition: transform .8s ease;
}
.alert-warning a{
    display: block;
    height: 100%;
}
.alert-warning:hover {
    background-color: rgb(247, 195, 133);
    color: #181818;
    transform: scale(1.05);
    border: 3px solid #181818;
}
.gopost {
    background-color: rgba(28,28,28,0);
}

.catalog {
    width: 6%;
    height: 75%;
    margin-top: 0.3%;
    margin-left: 5%;
    font-size: 2.4vh;
}

.closeModal {
	position: absolute;
	top: 6%;
	right: 15%;
	width: 24px;
	height: 24px;
    opacity: 20;
	cursor: pointer;
    transition: opacity ease 0.5s;
}

.closeModal:hover {
    opacity: 1;
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: rgb(255, 255, 255);
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}


.d7 {
  margin-top: -2.6%;
  width: auto;
  margin-left: 40%;
}
.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  margin-left: auto;
}

.d7 input {
  width: 35%;
  height: 70%;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #ffffff;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  border: 0.4vh solid rgb(175, 58, 58);
  width: 45%;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #ffffff;
}